nav {
  justify-content: space-between;
  font-size: 28rem;
}

.left {
  width: 40%;
  justify-content: flex-start;
}

.idx-header-svg {
  height: 3rem;
  width: 5rem;
  /* padding: 0 1rem; */
}

.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.left button, .right button {
  display: block;
  height: 3rem;
  padding: 0 1rem;
  margin: 0.5rem 1rem;
}

.left button:first-child {
  padding: 0;
}

.left a, .right a {
  cursor: pointer;
}

.right button {
  width: 50%;
}
