body {
  font-family: 'Cantarell', serif;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  text-align: center;
  color: whitesmoke;
}

header {
  position: fixed;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background: #808080;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.left, .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

.idx-header-svg {
  height: 4rem;
  width: 100%;
  fill: currentColor;
}

.left button, .right button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.left button {
  width: 25%;
}

.right button {
  width: 100%;
}

.left button, .right button {
  display: block;
  color: currentColor;
  background-color: transparent;
  border: none;
}

.left button:hover, .right button:hover {
  cursor: pointer;
  background-color: #d3d3d3;
  color: rgba(0, 0, 0, 0.9);
}

main {
  width: 80%;
  margin: 20vh auto;
}

main div {
  font-size: 6rem;
  color: #b4b4b4;
  text-transform: uppercase;
}

.idx-main-svg {
  height: 30vh;
  width: 100%;
  fill: deeppink;
}
