body {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  margin: 0 auto;
}

.div1 {
  width: 30%;
}

.div-ch {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}

.div2, .div3 {
  width: 100%;
}
