body {
  margin: 0;
  padding: 0;
  background-color: red;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: 900;
  font-size: 300px;
  color: whitesmoke;
}
