body {
  display: flex;
  height: 900px;
  flex-flow: row wrap;
  align-content: flex-start;
}

div {
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  border: 1px black solid;
  margin: 10px;
  text-align: center;
}
