body {
  display: flex;
  flex-flow: column nowrap;
  color: #484848;
}

p, li {
  color: #8e8e8e;
}

header {
  font-family: 'Raleway', sans-serif;

  /* size */
  height: 5rem;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* content size */
  font-size: 2.3rem;
  text-transform: uppercase;
}

main {
  /* size */
  height: 34rem;

  /* image */
  background-image: url("../images/fam_blur_under_600_web_medium.jpg");
  background-size: cover;
  background-position: center;

  /* display */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0;

  box-sizing: border-box;
}

main > h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

main h2 {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  margin: 0 3rem;
}

button {
  width: 14rem;
  background: red;
  color: white;
  padding: 0.7rem 0;

  align-self: center;
}

article {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: 0.5rem 5rem;
}

article > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: underline;
}

article section {
  margin: 1rem 0;
}

article section p {
  margin-top: 0.8rem;
}

article section table {
  margin-top: 10px;
}

td, th {
  border: 1px solid #484848;
  border-style: inset;
  padding: 0.4rem;
}

thead {
  background: #c0c0c0;
}

th, td:first-child {
  font-weight: 600;
}

td:only-child {
  font-weight: 500;
}

tbody > tr:nth-child(2n+1) {
  background: #d0d0d0;
}

article button {
  margin: 1rem 0;
}

article section h2 {
  font-size: 1.6rem;
}

#rdn-ways ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

#rdn-ways ol li {
  margin-top: 1rem;
}

article a {
  align-self: flex-end;
  font-size: 0.9rem;
}

article a:hover {
  text-decoration: underline;
  color: blue;
}

hr {
  border-bottom: 1px solid currentColor;
  margin: 2rem 6rem;
}

.footer-img {
  /* size */
  height: 34rem;

  /* image */
  background-image: url("../images/us_16_9_smaller_web_30.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.footer-img > h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer-img > h3 {
  color: white;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.call {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.call h2 {
  color: red;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.call a {
  color: red;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

footer hr {
  margin: 2rem 10rem;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

footer a {
  margin-top: 5px;
  color: blue;
}

footer a:hover {
  text-decoration: underline;
}
