body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: #c4d8df;
  height: 10rem;
  width: 10rem;
  padding: 5rem;
  border: 1px solid transparent;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 2px #e4e6e7;
}
