body, main, div, svg {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #56727c;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.card {
  max-width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #cad0d2;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  padding: 1vw;
}

.item div {
  height: 14vh;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
}

svg {
  height: 24vh;
  padding: 0 3vw;
  fill: #bbd2db;
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cad0d2;
  background-color: #eef3f5;
  font-size: 2vw;
  font-weight: 900;
  padding: 2vw 0;
}
